.App {
  text-align: center;
}

.left {
  text-align: left;
}

.button {
  color: white;
}


.ui.menu .item {
  line-height: inherit;
}

.ui.segment {
  box-shadow: none;
  border: none;
}

#profile-menu {
  margin-top: 10px;
  border: none;
  box-shadow: none;
}

.delete-icon  {
  opacity: 0
}
